streamlit
pandas
numpy
plotly
requests
prophet
scikit-learn
xgboost
deap
scikit-optimize
textblob
torch
joblib
transformers
keras-tuner
matplotlib
stable-baselines3
streamlit-option-menu
ta
schedule
shap
vaderSentiment
pytrends
scipy
python-dotenv